.book-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ffffff55;
    padding: 0.4em;
    margin-bottom: 0.5em;
}

.book-info > h3, p {
    margin: 0;
}

.book-info > h3 {
    font-family: Arvo, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: .85em;
    padding: 0.2em 0;
}

.book-info > p {
    font-size: 0.8em;
    padding: 0.1em 0;
}

.book-container button {
    margin: 0;
    padding: 0;
}

.book-done {
    width: 1.5em;
    height: auto;
    background-color: #333;
}

.completed-icon {
    display: block;
    background-color: #25548e;;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    cursor: pointer;
}

@media (min-width: 450px) {
    .book-container {
        padding: 0.4em 1em;
    }
}